
<h1>New Link</h1>
<%= bootstrap_form_for :link do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :url %>
  <%= f.submit 'Submit', class: 'btn btn-primary'%>
<% end %>
  <br>

<div class="well">
  <h3>Links</h3>
  <% current_user.links.each do |link| %>
  <ul>
    <li><%= link.url %></li>
  </ul>
<% end %>
</div>
