<!DOCTYPE html>
<html>
<head>
  <title>Thoughtbox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container well">

  <% if flash[:notice] %>
    <div class="alert alert-success text-center"><%= flash[:notice] %></div>
  <% end %>

  <% if current_user %>
    <%= current_user.email %> <br>
    <%= link_to 'Logout', '/logout', class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'Home', '/', class: 'btn btn-success' %>
  <% end %>

<%= yield %>
</div>

</body>
</html>
